.paginate-container {
    display: flex;
    list-style-type: none;
  
    .paginate-item {
      padding: 0 14px;
      height: 52px;
      text-align: center;
      margin: auto 4px;
      color: rgba(0, 0, 0, 0.87);
      display: flex;
      box-sizing: border-box;
      letter-spacing: 0.01071em;
      border-radius: 14px;
      align-items: center;
      line-height: 1.46;
      font-size: 17px;
      min-width: 52px;
  
      &.dots:hover {
        background-color: transparent;
        cursor: default;
      }
      &:hover {
        background-color: rgba(24, 24, 24, 0.04);
        cursor: pointer;
      }
  
      &.selected {
        background-color: rgba(19, 19, 19, 0.08);
      }
  
      .arrow {
        &::before {
          content: '';
          position: relative;
          display: inline-block;
          width: 0.5em;
          height: 0.5em;
          border-top: 0.12em solid rgba(27, 24, 24, 0.87);
          border-right: 0.12em solid rgba(27, 24, 24, 0.87);
        }
  
        &.left {
          transform: rotate(-135deg) translate(-50%);
        }
  
        &.right {
          transform: rotate(45deg);
        }
      }
  
      &.disabled {
        pointer-events: none;
  
        .arrow::before {
          border-right: 0.12em solid rgba(18, 14, 14, 0.43);
          border-top: 0.12em solid rgba(18, 14, 14, 0.43);
        }
  
        &:hover {
          cursor: default;
          background-color: transparent;
        }
      }
    }
  }
  
  